.u-section-1 .u-sheet-1 {
  min-height: 420px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/AlevelProfilePicture.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 228px;
    height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 378px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 57px 63px 0 419px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 38.4px;
  animation-duration: 1000ms;
  margin: 18px 63px 0 419px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0 56px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 282px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 282px;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -57px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-top: -13px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 0;
    margin-left: 40px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 820px;
}

.u-section-3 .u-video-1 {
  width: 680px;
  height: 383px;
  margin: 346px auto 0 22px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 429px;
  height: 761px;
  margin: -700px 0 0 auto;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: -647px 454px 60px 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 292px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-left: 0;
  }

  .u-section-3 .u-video-2 {
    margin-top: -621px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-video-2 {
    width: 340px;
    height: 604px;
    margin-top: -508px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -491px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 755px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 50px 13px 0;
}

.u-section-4 .u-video-1 {
  width: 830px;
  height: 501px;
  animation-duration: 1000ms;
  margin: 27px auto 43px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 205px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 689px;
}

.u-section-5 .u-video-1 {
  width: 557px;
  height: 623px;
  animation-duration: 1000ms;
  margin: 33px auto 0 13px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0px;
  margin: -501px 13px 60px 583px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-video-1 {
    height: 624px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -442px;
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 176px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 605px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -423px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 381px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -199px;
  }
}